@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');
* {
	box-sizing: border-box;
  }
body{
    background-color: #222;
    height: 100%;
	margin: 0px;
}
.loginform{ 
    background-color: white;
    color: #222;
    position: absolute;
    top: 30%;
    left: 20%;
    /* text-align: center; */
    width: 60%;
    padding: 20px;
}
.loginform img{
    /*margin-top: 5%;*/
}
.loginform input, button{
	margin-bottom: 10px;
	padding: 7px;
	width: 100%;
	border: none;
	border-radius: 20px;
}
.loginform label{
    font-size: 20px;
}
.loginform input{
	padding-left: 15px;
    text-decoration: none;
    border: 1px solid #888;
    opacity: 0.7;
}
.loginform button{
	padding: 5px 0px 5px 0px;
    transition: 0.3s;
    opacity: 0.7;
	background-color: #222;
	color: #aaa;
	font-size: 18px;
}
.loginform button:hover{
	color: #222;
	background-color: #aaa;
}
.leftcolumn {   
    float: left;
    width: 50%;
    /* margin-right: 10px; */
  }
  .rightcolumn {
    float: left;
    width: 50%;
  }


  