@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');
:root{
	--primary-color: #b50415;
	--primary-color-hover: #d3071b;
	--secondary-color: #103063;
	--secondary-color-hover: #143f85;
	--primary-color: #b50415;
	--light-color: #f4f4f4;
}
body, html{
	height: 100%; 
	margin: 0px;
	font-family: 'Baskervville', serif;
}
* {
	box-sizing: border-box;
  } 
  
.bg-image {
background-image: url("../img/logo.png");
filter: blur(8px);
-webkit-filter: blur(8px);
height: 70%; 
background-position: center;
position: relative;
top: 7%;
background-repeat: no-repeat;
background-size: cover;
}
.bg-text {
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.2); 
color: white;
font-weight: bold;
border: 3px solid #f1f1f1;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
width: 80%;
padding: 20px;
text-align: center;
}
.bg-text h1{
	font-size: 50px;
}
.bg-text input, button{
	margin: 15px;
	padding: 10px;
	width: 40%;
	border: none;
	border-radius: 20px;
}
.bg-text input{
	padding-left: 15px;
	text-decoration: none;
}
.bg-text button{
	padding: 8px 30px 8px 30px;
	opacity: 0.6;
	transition: 0.3s;
	background-color: black;
	color: var(--light-color);
	font-size: 18px;
}
.bg-text button:hover{
	color: black;
	background-color: var(--light-color);
}
.bg-text form a{
	color: white;
}

