@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');
:root{
	--primary-color: #b50415;
	--primary-color-hover: #d3071b;
	--secondary-color: #103063;
	--secondary-color-hover: #143f85;
	--primary-color: #b50415;
	--light-color: #f4f4f4;
}
body, html{
	height: 100%; 
	margin: 0px;
	font-family: 'Baskervville', serif;
}
* {
	box-sizing: border-box; 
  }
  
.bg-image {
background-image: url("../img/logo.png");
filter: blur(8px);
-webkit-filter: blur(8px);
height: 70%; 
background-position: center;
position: relative;
top: 7%;
background-repeat: no-repeat;
background-size: cover;
}
.bg-text {
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.2); 
color: white;
font-weight: bold;
border: 3px solid #f1f1f1;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
width: 80%;
padding: 20px;
/* text-align: center; */
}
.bg-text h1{
	font-size: 20px;
}
.bg-text input, button{
	margin-top: 8px;
	padding: 6px;
	border: none;
	border-radius: 20px;
}
.bg-text input{
	padding-left: 15px;
	text-decoration: none;
}
.bg-text .two button{
    padding: 4px 30px 4px 30px;
    width: 90%;
	opacity: 0.6;
	transition: 0.3s;
	background-color: black;
	color: var(--light-color);
	font-size: 14px;
}
.bg-text .two button:hover{
	color: black;
	background-color: var(--light-color);
}

.grid-container {
    display: grid;
    /* grid-gap: 50px; */
    grid-template-columns: 30% 70%;
    padding: 10px;
    color: #333;
    width: 75%;
  }
  .grid-container h1{
      font-size: 20px;
      /* border-bottom: 1px solid rgb(82, 81, 81); */
  }
  .grid-item {
    /* border: 1px solid black; */
    border-radius: 20px;
    /* display: inline-block; */
    /* font-size: 30px; */
    /* text-align: center; */
  }
  .grid-container img{
    border-radius: 200px;
    width: 50%;
    margin-top: 20%;
    /* border: 1px solid #000; */
  }
  .grid-container ul li{
      list-style-type: none;
      margin-top: 10px;
      transition: 0.3s;
  }
  .grid-container ul li a{
    list-style-type: none;
    color: white;
    font-weight: lighter;
    font-size: 14px;
	transition: 0.3s;
}
  .grid-container ul{
      /* text-align: center; */
      /* border: 1px solid black; */
      margin-right: 40px;
      /* padding-left: 0px; */
      padding-top: 10%;
  }
  .one{
      /* border: 1px solid black; */
      text-align: center;
  }
  .two{
    /* display: grid; */
    /* border: 1px solid black; */
    color: white;
  }
  .two input{
      width: 95%;
      font-size: 14px;

  }
  .two h1{
      /* margin-bottom: 10px; */
      font-weight: bolder;
      font-size: 20px;
  }
  .two label{
      font-weight: lighter;
      font-size: 14px;
  }
  select{
    margin: 10px 0px 10px 8px;
    padding: 5px 20px 5px 20px;
    border: none;
    border-radius: 20px;
      font-size: 14px;
      width: 50%;
  }
.bg-text .one .dropdown-menu li a{
    color: black;
    font-size: 14px;
    transition: 0.3s;
    padding-left: 5px;
}
.bg-text .one .dropdown-menu li a:hover{
    text-decoration: none;
    opacity: 0.4;
}
.dropdown-menu{
  padding: 10px;
  border: none;
  border-bottom: 2px solid rgb(29, 29, 29);
}
.fgroup{
  width: 100%;
  margin-bottom: 5px;
}
.fgroup.required label:after{
  content: ' *';
  color: rgb(205, 44, 44);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #aaa;
}

::-webkit-scrollbar-thumb {
  background: rgb(65, 64, 64); 
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888; 
}


@media screen and (max-width: 568px){
  .grid-container{
    width: 600px;
    /* margin: 200px; */
  }
  /* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #aaa;
}

::-webkit-scrollbar-thumb {
  background: rgb(65, 64, 64); 
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888; 
}
  }
  
  @media screen and (max-width: 580px){
    .grid-container{
      width: 600px;
      /* margin: 200px; */
    }
    /* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #aaa;
}

::-webkit-scrollbar-thumb {
  background: rgb(65, 64, 64); 
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888; 
}
  }
  
  @media screen and (max-width: 600px){
  
  }
  
  @media screen and (max-width: 780px){
  
  }
  
  @media screen and (max-width: 992px){
  
  }
  
  @media screen and (max-width: 1200px){
  
  }
  
  @media screen and (max-width: 1400px){
     
  }
