@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');
:root{
	--primary-color: #b50415;
	--primary-color-hover: #d3071b;
	--secondary-color: #103063;
	--secondary-color-hover: #143f85;
	--primary-color: #b50415;
	--light-color: rgb(244, 244, 244);
}
body{
    font-family: 'Baskervville', serif;
}
nav .navbar{
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar .navbar-brand img{
    width: 40%;
}
.navbar-item{
    margin-right: 40px;
    color: black;
    text-decoration: none;
}
.navbar-itemm{
    margin-right: 0px;
    color: black;
    text-decoration: none;
}
.navbar li a{
    color: black;
    font-size: 20px;
    transition: 0.3s;
}
.navbar li a:hover{
    text-decoration: none;
    opacity: 0.4;
}
.navbar-toggler-icon{
    color: black;
}
.dropdown-menu{
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgb(29, 29, 29);
}

  button:hover{
    cursor:pointer;
  }
  .carddeck{
      margin-top: 30px;
      margin-bottom: 40px;
  }
  .carddeck .card-deck .card a{
    background-color: rgba(51, 51, 51, 0.3);
  }
  .grid1 {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto;
    padding: 10px;
    color: #333;
  }
  .grid-container h1{
      font-size: 25px;
      border-bottom: 1px solid rgb(82, 81, 81);
  }
  .content .grid-item {
    border: 1px solid rgb(204, 203, 203);
    /* border-radius: 20px; */
    padding: 20px;
    /* font-size: 30px; */
    /* text-align: center; */
  }
.calender h3{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px;
  }
.calender h3 a{
    color: var(--light-color);
    transition: 0.5s;    
}
.calender h3 a:hover{
    opacity: 0.4;
    text-decoration: none;
}
.cbtn1, .cbtn2{
    padding: 5px 20px 5px 20px;
	opacity: 0.6;
	transition: 0.3s;
	background-color: black;
	font-size: 15px;
}
.cbtn1{
    margin-right: 20px;
}
.cbtn2{
    margin-left: 20px;
}
 .grid-container .calender .cbtn1 {
	color: var(--light-color);
}
.grid-item dd{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.carddeck .card-deck .card a{
    color: black;
}
.card{
    transition: 0.5s;
    margin: 10px;
}
.carddeck .card-deck .card a:hover{
    text-decoration: none;
    color: rgb(139, 139, 139);
}
.cardtext{
    padding: 8px;
}
.card:hover{
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mx-3 .modal-text::first-letter {
    font-size: 200%;
}
.modal-img{
    width: 70%;
    position:relative;
    left:15%;
}
.mb-4, .mb-5{
    border: none;
}
table{
    /* border: 1px solid black; */
    width: 100%;
    border-bottom: 1px solid #000;
}
.td2{
    /* border: 1px solid black; */
    text-align: center;
}
table button{
    text-decoration: none;
    border: none;
    background-color: #fff;
}

.department{
    /* border: 1px solid rgb(204, 203, 203); */
    /* border-radius: 20px; */
    padding: 20px;
}
.department form{
    /* border: 1px solid rgb(204, 203, 203); */
    padding: 0px 0px 10px 10px;
    background-color: rgb(253, 251, 251);
}
.department .text{
    font-size: 25px;
    background: #222;
    color: #aaa;
    padding: 8px;
}
.department hr{
    margin-bottom: 10px;
    width: 100%;
}
.department form{
    padding-top: 20px;
}
.content{
    background-color: rgb(253, 251, 251);
    padding: 50px 30px 20px 30px;
}
.row{
    background-color: white;
    margin-bottom: 50px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 40px;
    margin-left: 40px;
    /* border: 1px solid black; */
}
.padding{
    margin-right: 80px;
    /* border: 1px solid black; */
    margin-left: 80px;
}
.content .row h2{
    /* padding-right: 500px; */
    /* border: 1px solid #000; */
    font-size: 35px;
    width: 100%;
    margin-top: 20px;
}
.content .row p{
    /* border: 1px solid black; */
    color: rgb(139, 139, 139)
}
.content .row .lead{
    width: 100%;
}
.content .row a{
    text-decoration: none;
    color: var(--primary-color-hover);
    font-weight: normal;
    transition: 0.3s;
    opacity: 0.5;
    font-size: 25px;
}
.content .row .header{
    color: black !important;
    opacity: 1 !important;
    /* border: 1px solid black; */
}
.content .row a:hover{
    color: var(--primary-color-hover);
    /* opacity: 0.5; */
}
.content .row .header:hover{
    color: var(--primary-color);
    opacity: 0.5 !important;
}
.content .row li{
    list-style-type: none;
    display: inline;
    margin-right: 50px;
    /* border: 1px solid #000; */
}
.content .row ul{
    /* background-color: rgb(233, 233, 233); */
    /* width: 100%; */
    display: inline;
    /* border: 1px solid black; */
    padding-left: 80px;
    /* padding: 10px 634px 10px 80px; */
    /* border-top: 1px solid rgb(212, 210, 210); */
    /* border-bottom: 1px solid rgb(212, 210, 210); */
    margin-left: 0.5px;
}
.content .row .button{
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid #000; */
    padding: 2px 20px 0px 20px;
    border-radius: 20px;
    opacity: 0.6;
	transition: 0.3s;
	background-color: var(--primary-color);
    color: white;
    /* border: 1px solid black; */
    font-weight: bold;    
}
.content .row .button p{
    /* border: 1px solid black; */
    float: right;
    font-size: 17px;
    padding-top: 5px;
}
.content .row .button:hover{
    color: black;
	background-color: var(--primary-color-hover);
}
.content .row p{
    /* float: right; */ 
    font-size: 18px;
    margin-bottom: 0px;
}
.content .row .info a{
    font-size: 16px;
}
.content .row .button i{
    /* border: 1px solid #000; */
    color: rgb(139, 139, 139); 
    font-size: 18px;
}
.info a{
    font-size: 15px;
}
.modal-content .modal-body {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto !important;
}


footer{
    background: #333;
}
footer .footer-cols{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	padding: 2rem;
	text-align: left;
	font-size: 14px;
}
footer .footer-cols ul{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
}
footer .footer-cols ul li a{
    color: rgba(255, 255, 255, 0.3);
}
footer .footer-cols ul li a:hover{
    color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}
footer .footer-cols ul li:first-child{
	font-size: 1.2rem;
	padding-bottom: 0.5rem;
	border-bottom: #444 solid 1px;
	margin-bottom: 1rem;
}
footer .footer-bottom{
    background: #333;
    color: rgba(255, 255, 255, 0.5);
	padding: 1rem;
}
footer .col1{
    border-right: 1px solid #444;
    padding-right: 50px;
}
.footer-bottom a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
}
hr{
    background-color: #444;
    width: 100%;
    margin: 0px;
}







@media screen and (max-width: 568px){
.welcome-text{
    font-size: 10px;
    padding-top: 0px;
}
footer .footer-cols{
	font-size: 10px;
}
footer .footer-cols ul li:first-child{
	font-size: 0.5rem;
}
footer .col1{
    padding-right: 10px;
}
footer .col2{
    padding-left: 0px;
}
.department .td2{
    padding-left: 80px;
}
}

@media screen and (max-width: 580px){
.modal-body {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto;
}
.grid1 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
}
.welcome-text{
    margin-left: 50px;
}
.card{
    font-size: 5px;
}
.department .td2{
    padding-left: 80px;
}
}

@media screen and (max-width: 600px){
.grid1 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
}
footer .footer-cols{
	font-size: 14px;
}
footer .footer-cols ul li:first-child{
	font-size: 1rem;
}
footer .col1{
    padding-right: 20px;
}
footer .col2{
    padding-left: 0px;
}
.department .td2{
    padding-left: 80px;
}
}

@media screen and (max-width: 780px){
.modal-body {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto;
}
.grid1 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
}
.hide-on-small{
    display: none;
}
.welcome-text{
    margin-left: 80px;
}
footer .footer-cols{
	font-size: 14px;
}
footer .footer-cols ul li:first-child{
	font-size: 1.2rem;
}
footer .col1{
    padding-right: 30px;
}
footer .col2{
    padding-left: 0px;
}
.department .td2{
    padding-left: 80px;
}
}

@media screen and (max-width: 992px){
.modal-body {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto;
}
.welcome-text{
    margin-left: 80px;
}
.cbtn1, .cbtn2{
    padding: 5px 10px 5px 10px;
	font-size: 14px;
}
.department .td2{
    padding-left: 120px;
}
}

@media screen and (max-width: 1200px){
.modal-body {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto;
}
}

@media screen and (max-width: 1400px){
    .hide-on-large{
        display: none;
    }
}