@import url("https://fonts.googleapis.com/css?family=Baskervville&display=swap");
:root {
  --primary-color: #b50415;
  --primary-color-hover: #d3071b;
  --secondary-color: #103063;
  --secondary-color-hover: #143f85;
  --primary-color: #b50415;
  --light-color: rgb(244, 244, 244);
}
body {
  font-family: "Baskervville", serif;
}
#welcome span {
  background-color: #222;
  width: 100%;
}
#welcome h1 {
  /* color: #888; */
  font-size: 70px;
  padding: 2%;
  background-color: #222;
  color: #aaa;
  font-weight: 600;
  height: 150px;
  /* margin: 0.4em 0; */
  text-align: center;
}
.sidebar {
  margin: 0;
  padding-top: 10%;
  width: 200px;
  background-color: #aaa;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 14px;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #222;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.fgroup {
  width: 100%;
  margin-bottom: 5px;
}
.fgroup.required label:after {
  content: " *";
  color: rgb(205, 44, 44);
}
.postmodal .title {
  width: 100%;
  margin-bottom: 10px;
}
.postmodal textarea {
  width: 100%;
}
.postmodal .header {
  font-size: 35px;
}
.postmodal label {
  font-size: 18px;
}
.postmodal .title,
textarea {
  border: 1px solid rgb(216, 215, 215);
}
.postmodal button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 15%;
}
.postmodal form {
  border: none;
}
div.content {
  margin-left: 200px;
  padding: 1px 16px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin-top: 20px;
}
th{
  font-size: 15px;
}
tr{
  font-size: 14px;
}
.btn{
  font-size: 14px;
}
th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr.header,
table tr:hover {
  background-color: rgb(235, 220, 220);
}
.content .btn a {
  color: white;
  text-decoration: none;
}
.content table .btn i {
  transition: 0.3s;
  color: black;
}
.content table .btn i:hover {
  color: #aaa;
  transition: 0.3s; 
}
#myInput {
  background-image: url("/css/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 12px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin-top: 20px;
}
.lastbutton{
  margin-bottom: 40px;
}
.modal .modal-content .modal-header .modal-title{
  font-size: 17px;
}
.modal .modal-content .modal-body label, input, select, textarea{
  font-size: 15px;
}
.modal .modal-content .btn{
  font-size: 14px;
}
.modal .modal-content .modal-body .modal-text{
  font-size: 15px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #aaa;
}

::-webkit-scrollbar-thumb {
  background: rgb(65, 64, 64); 
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888; 
}



/* MEDIA QUERIES */
@media screen and (max-width: 568px) {
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 21%;
  } */
}

@media screen and (max-width: 580px) {
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 21%;
  } */
}

@media screen and (max-width: 600px) {
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 21%;
  } */
}

@media screen and (max-width: 780px) {
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 21%;
  } */
}

@media screen and (max-width: 992px) {
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 2%;
  } */
}

@media screen and (max-width: 1200px) {
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 21%;
  } */
}
@media screen and (max-width: 1000px) {
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 21%;
  } */
}
@media screen and (max-width: 1400px) {
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 15%;
  } */
}
@media screen and (max-width: 800px) {
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 21%;
  } */
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0px;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
  .sidebar a {
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

select {
  width: 100%;
  padding: 5px;
}

