@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');
:root{
	--primary-color: #b50415;
	--primary-color-hover: #d3071b;
	--secondary-color: #103063;
	--secondary-color-hover: #143f85;
	--primary-color: #b50415;
	--light-color: rgb(244, 244, 244);
}
body{
    font-family: 'Baskervville', serif;
}
#welcome span{
    background-color: #222;
    width: 100%;
}
  #welcome h1 {
    /* color: #888; */
    font-size: 70px;
    padding: 2%;
    background-color: #222;
  color: #aaa;
  font-weight: 600;
  height: 150px;
    /* margin: 0.4em 0; */
    text-align: center;
  }
  .sidebar {
    margin: 0;
    padding-top: 5%;
    width: 200px;
    background-color: #aaa;
    position: fixed;
    top: 150px;
    height: 100%;
    overflow: auto;
    font-size: 14px;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
  }
  div.content {
    margin-left: 220px;
    padding: 1px 16px;
    position: fixed;
    margin-top: 2px;
    overflow: auto;
    max-height: 100%;
    /* width: 1000px; */
  }
  .content h1{
    font-size: 26px;
  }
   .content input{
     width: 50%;
     border: 1px solid #aaa;
      padding: 2px;
      opacity: 0.8;
      margin-bottom: 5px;
   }
   .content label{
     font-size: 16px;
   }
   .content select{
     width: 50%;
     border: 1px solid #aaa;
      padding: 3px;
      opacity: 0.7;
      margin-bottom: 5px;
   }
   .content img{
     width: 70%;
     height: 600px;
     padding: 10px 20px 20px 80px;
   }
  .sidebar a.active {
    background-color: #222;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  .fgroup{
    width: 100%;
    margin-bottom: 5px;
  }
  .fgroup.required label:after{
    content: ' *';
    color: rgb(205, 44, 44);
  }
 .postmodal .title{
    width: 50%;
    margin-bottom: 10px;
}
.postmodal textarea{
    width: 100%;
}
.postmodal .header{
    font-size: 35px;
}
.postmodal label{
    font-size: 18px;
} 
.postmodal .title, textarea{
    border: 1px solid rgb(216, 215, 215);
}
.postmodal button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 15%;
}
.postmodal form{
    border: none;
}
  /* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #aaa;
}

::-webkit-scrollbar-thumb {
  background: rgb(65, 64, 64); 
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888; 
}




/* MEDIA QUERIES */
@media screen and (max-width: 568px){
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 21%;
  } */
}
  
@media screen and (max-width: 580px){
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 21%;
  } */
}
  
@media screen and (max-width: 600px){
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 21%;
  } */
}
  
@media screen and (max-width: 780px){
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 21%;
  } */
}
  
@media screen and (max-width: 992px){
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 2%;
  } */
}
  
@media screen and (max-width: 1200px){
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 21%;
  } */
}
@media screen and (max-width: 1000px){
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 21%;
  } */
}
@media screen and (max-width: 1400px){
  /* .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 15%;
  } */
}
@media screen and (max-width: 880px) {
  .content img{
    width: 90%;
    height: 500px;
    padding: 15px 15px 15px 0px;
  }
}
@media screen and (max-width: 800px) {
  .content img{
    width: 80%;
    height: 500px;
    padding: 15px 15px 15px 0px;
  }
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    /* top: 5%; */
    padding: 0px;
}
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
    margin-top: 50px;
  }
  .content input{
    width: 70%;
    margin-bottom: 3px;
  }
  .content h1{
    font-size: 20px;
  }
  #welcome h1{
    font-size: 60px;
  }
  .sidebar a {
    padding: 10px;
  }
  .content img{
    width: 100%;
    height: 350px;
    padding: 15px 15px 15px 40px;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}